* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v2_1184 {
  width: 100%;
  height: 1580px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v2_1185 {
  width: 222px;
  color: rgba(72,72,72,1);
  position: absolute;
  top: 388px;
  left: 78px;
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v2_1186 {
  width: 100%;
  height: 592px;
  background: url("../images/v2_1186.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 165px;
  left: 80px;
  overflow: hidden;
}
.v2_1187 {
  width: 279px;
  color: rgba(72,72,72,1);
  position: absolute;
  top: 9px;
  left: 0px;
  font-family: Montserrat;
  font-weight: ExtraBold;
  font-size: 38px;
  opacity: 1;
  text-align: left;
}
.v2_1188 {
  width: 392px;
  height: 80px;
  background: url("../images/v2_1188.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 75px;
  left: 0px;
  overflow: hidden;
}
.v2_1189 {
  width: 80px;
  height: 80px;
  background: url("../images/v2_1189.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v2_1190 {
  width: 80px;
  height: 80px;
  background: rgba(154,154,154,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v2_1191 {
  width: 25px;
  height: 25px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 27px;
  left: 28px;
  overflow: hidden;
}
.v2_1192 {
  width: 25px;
  height: 25px;
  background: url("../images/v2_1192.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v2_1193 {
  width: 25px;
  height: 25px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v2_1194 {
  width: 157px;
  color: rgba(72,72,72,1);
  position: absolute;
  top: 16px;
  left: 104px;
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v2_1195 {
  width: 288px;
  color: rgba(154,154,154,1);
  position: absolute;
  top: 43px;
  left: 104px;
  font-family: Montserrat;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v2_1196 {
  width: 376px;
  height: 70px;
  background: url("../images/v2_1196.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 279px;
  left: 0px;
  overflow: hidden;
}
.v2_1197 {
  width: 70px;
  height: 70px;
  background: url("../images/v2_1197.png");
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v2_1198 {
  width: 157px;
  color: rgba(72,72,72,1);
  position: absolute;
  top: 14px;
  left: 88px;
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v2_1199 {
  width: 288px;
  color: rgba(154,154,154,1);
  position: absolute;
  top: 41px;
  left: 88px;
  font-family: Montserrat;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v2_1200 {
  width: 261px;
  height: 70px;
  background: url("../images/v2_1200.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 368px;
  left: 0px;
  overflow: hidden;
}
.v2_1201 {
  width: 70px;
  height: 70px;
  background: url("../images/v2_1201.png");
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v2_1202 {
  width: 157px;
  color: rgba(72,72,72,1);
  position: absolute;
  top: 14px;
  left: 88px;
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v2_1203 {
  width: 173px;
  color: rgba(154,154,154,1);
  position: absolute;
  top: 41px;
  left: 88px;
  font-family: Montserrat;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v2_1204 {
  width: 261px;
  height: 70px;
  background: url("../images/v2_1204.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 458px;
  left: 0px;
  overflow: hidden;
}
.v2_1205 {
  width: 70px;
  height: 70px;
  background: url("../images/v2_1205.png");
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v2_1206 {
  width: 157px;
  color: rgba(72,72,72,1);
  position: absolute;
  top: 14px;
  left: 88px;
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v2_1207 {
  width: 173px;
  color: rgba(154,154,154,1);
  position: absolute;
  top: 41px;
  left: 88px;
  font-family: Montserrat;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v2_1208 {
  width: 774px;
  height: 574px;
  background: url("../images/v2_1208.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 433px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  overflow: hidden;
}
.v2_1209 {
  width: 100%;
  height: 130px;
  background: url("../images/v2_1209.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 796px;
  left: 0px;
  overflow: hidden;
}
.v2_1210 {
  width: 100%;
  height: 117px;
  background: rgba(232,234,236,1);
  opacity: 1;
  position: absolute;
  top: 13px;
  left: 0px;
  overflow: hidden;
}
.v2_1211 {
  width: 1000px;
  height: 58px;
  background: url("../images/v2_1211.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 46px;
  left: 186px;
  overflow: hidden;
}
.v2_1212 {
  width: 138px;
  height: 52px;
  background: url("../images/v2_1212.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 0px;
  overflow: hidden;
}
.v2_1213 {
  width: 138px;
  color: rgba(72,72,72,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v2_1214 {
  width: 130px;
  color: rgba(72,72,72,1);
  position: absolute;
  top: 25px;
  left: 0px;
  font-family: Montserrat;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v2_1215 {
  width: 794px;
  height: 52px;
  background: url("../images/v2_1215.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 206px;
  overflow: hidden;
}
.v2_1216 {
  width: 794px;
  height: 52px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(232,234,236,1);
  border-top-left-radius: 26px;
  border-top-right-radius: 26px;
  border-bottom-left-radius: 26px;
  border-bottom-right-radius: 26px;
  overflow: hidden;
}
.v2_1217 {
  width: 130px;
  color: rgba(154,154,154,1);
  position: absolute;
  top: 16px;
  left: 23px;
  font-family: Montserrat;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v2_1218 {
  width: 52px;
  height: 52px;
  background: url("../images/v2_1218.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 947px;
  overflow: hidden;
}
.v2_1219 {
  width: 52px;
  height: 52px;
  background: rgba(154,154,154,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v2_1220 {
  width: 28px;
  height: 27px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 42px;
  overflow: hidden;
}
.v2_1221 {
  width: 24px;
  height: 21px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 3px;
}
.v2_1223 {
  width: 100%;
  height: 80px;
  background: rgba(239,240,242,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v2_3840 {
  width: 100%;
  height: 70px;
  background: rgba(255,255,255,0);
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 0px;
  overflow: hidden;
}
.v2_3841 {
  width: 100%;
  height: 46px;
  background: url("../images/v2_3841.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 76px;
  overflow: hidden;
}
.v2_3842 {
  width: 192px;
  color: rgba(72,72,72,1);
  position: absolute;
  top: 2px;
  left: 0px;
  font-family: Montserrat;
  font-weight: ExtraBold;
  font-size: 35px;
  opacity: 1;
  text-align: left;
}
.v2_3843 {
  width: 186px;
  height: 46px;
  background: url("../images/v2_3843.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 911px;
  overflow: hidden;
}
.v2_3844 {
  width: 186px;
  height: 46px;
  background: rgba(72,72,72,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 23px;
  border-top-right-radius: 23px;
  border-bottom-left-radius: 23px;
  border-bottom-right-radius: 23px;
  overflow: hidden;
}
.v2_3845 {
  width: 119px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 14px;
  left: 38px;
  font-family: Montserrat;
  font-weight: SemiBold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v2_3846 {
  width: 635px;
  height: 23px;
  background: url("../images/v2_3846.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 13px;
  left: 241px;
  overflow: hidden;
}
.v2_3847 {
  width: 130px;
  color: rgba(72,72,72,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Montserrat;
  font-weight: SemiBold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v2_3848 {
  width: 113px;
  color: rgba(72,72,72,1);
  position: absolute;
  top: 0px;
  left: 158px;
  font-family: Montserrat;
  font-weight: SemiBold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v2_3849 {
  width: 117px;
  color: rgba(72,72,72,1);
  position: absolute;
  top: 0px;
  left: 301px;
  font-family: Montserrat;
  font-weight: SemiBold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v2_3850 {
  width: 187px;
  color: rgba(72,72,72,1);
  position: absolute;
  top: 0px;
  left: 448px;
  font-family: Montserrat;
  font-weight: SemiBold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v2_3851 {
  width: 22px;
  height: 22px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 200px;
  overflow: hidden;
}
.v2_3852 {
  width: 109px;
  height: 59px;
  background: rgba(255,255,255,0);
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 1183px;
  overflow: hidden;
}
.v2_3853 {
  width: 98px;
  height: 46px;
  background: url("../images/v2_3853.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 5px;
  overflow: hidden;
}
.v2_3854 {
  width: 98px;
  height: 46px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 23px;
  border-top-right-radius: 23px;
  border-bottom-left-radius: 23px;
  border-bottom-right-radius: 23px;
  overflow: hidden;
}
.v2_3855 {
  width: 44px;
  height: 44px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 53px;
  overflow: hidden;
}
.v2_3856 {
  width: 36px;
  height: 36px;
  background: rgba(194,198,204,1);
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 3px;
}
.v2_3857 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 20px;
  overflow: hidden;
}
.v2_3858 {
  width: 20px;
  height: 14px;
  background: url("../images/v2_3858.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 2px;
  overflow: hidden;
}
.v2_3859 {
  width: 20px;
  height: 2px;
  background: rgba(72,72,72,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v2_3860 {
  width: 20px;
  height: 2px;
  background: rgba(72,72,72,1);
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 0px;
}
.v2_3861 {
  width: 20px;
  height: 2px;
  background: rgba(72,72,72,1);
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 0px;
}
.v2_4717 {
  width: 100%;
  height: 615px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 965px;
  left: 0px;
  overflow: hidden;
}
.v2_4718 {
  width: 100%;
  height: 648px;
  background: rgba(239,240,242,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v2_4719 {
  width: 357px;
  height: 242px;
  background: url("../images/v2_4719.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 72px;
  left: 80px;
  overflow: hidden;
}
.v2_4720 {
  width: 166px;
  color: rgba(72,72,72,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Montserrat;
  font-weight: ExtraBold;
  font-size: 50px;
  opacity: 1;
  text-align: left;
}
.v2_4722 {
  width: 172px;
  height: 52px;
  background: url("../images/v2_4722.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 190px;
  left: 0px;
  overflow: hidden;
}
.v2_4723 {
  width: 172px;
  height: 52px;
  background: rgba(224,226,230,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
}
.v2_4724 {
  width: 22px;
  height: 22px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 29px;
  overflow: hidden;
}
.v2_4725 {
  width: 9px;
  height: 17px;
  background: rgba(72,72,72,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 2px;
}
.v2_4726 {
  width: 11px;
  height: 8px;
  background: rgba(72,72,72,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 3px;
}
.v2_4727 {
  width: 11px;
  height: 8px;
  background: rgba(72,72,72,1);
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 3px;
}
.v2_4728 {
  width: 6px;
  height: 5px;
  background: rgba(72,72,72,1);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 13px;
}
.v2_4729 {
  width: 86px;
  color: rgba(72,72,72,1);
  position: absolute;
  top: 18px;
  left: 66px;
  font-family: Montserrat;
  font-weight: SemiBold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v2_4730 {
  width: 172px;
  height: 52px;
  background: url("../images/v2_4730.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 190px;
  left: 185px;
  overflow: hidden;
}
.v2_4731 {
  width: 172px;
  height: 52px;
  background: rgba(224,226,230,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
}
.v2_4732 {
  width: 94px;
  color: rgba(72,72,72,1);
  position: absolute;
  top: 18px;
  left: 60px;
  font-family: Montserrat;
  font-weight: SemiBold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v2_4733 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 21px;
  overflow: hidden;
}
.v2_4734 {
  width: 21px;
  height: 21px;
  background: rgba(72,72,72,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 1px;
}
.v2_4735 {
  width: 176px;
  height: 175px;
  background: url("../images/v2_4735.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 86px;
  left: 510px;
  overflow: hidden;
}
.v2_4736 {
  width: 176px;
  color: rgba(72,72,72,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v2_4737 {
  width: 87px;
  color: rgba(72,72,72,1);
  position: absolute;
  top: 48px;
  left: 0px;
  font-family: Montserrat;
  font-weight: Medium;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v2_4738 {
  width: 153px;
  color: rgba(72,72,72,1);
  position: absolute;
  top: 81px;
  left: 0px;
  font-family: Montserrat;
  font-weight: Medium;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v2_4739 {
  width: 103px;
  color: rgba(72,72,72,1);
  position: absolute;
  top: 114px;
  left: 0px;
  font-family: Montserrat;
  font-weight: Medium;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v2_4740 {
  width: 57px;
  color: rgba(72,72,72,1);
  position: absolute;
  top: 147px;
  left: 0px;
  font-family: Montserrat;
  font-weight: Medium;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v2_4741 {
  width: 303px;
  height: 199px;
  background: url("../images/v2_4741.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 86px;
  left: 914px;
  overflow: hidden;
}
.v2_4742 {
  width: 153px;
  color: rgba(72,72,72,1);
  position: absolute;
  top: 0px;
  left: 9px;
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v2_4743 {
  width: 157px;
  color: rgba(72,72,72,1);
  position: absolute;
  top: 49px;
  left: 9px;
  font-family: Montserrat;
  font-weight: Medium;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v2_4744 {
  width: 224px;
  color: rgba(72,72,72,1);
  position: absolute;
  top: 81px;
  left: 9px;
  font-family: Montserrat;
  font-weight: Medium;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v2_4745 {
  width: 294px;
  color: rgba(72,72,72,1);
  position: absolute;
  top: 113px;
  left: 9px;
  font-family: Montserrat;
  font-weight: Medium;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v2_4746 {
  width: 191px;
  height: 38px;
  background: url("../images/v2_4746.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 161px;
  left: 0px;
  overflow: hidden;
}
.v2_4747 {
  width: 24px;
  height: 24px;
  background: rgba(72,72,72,1);
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 108px;
}
.v2_4748 {
  width: 24px;
  height: 24px;
  background: rgba(72,72,72,1);
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 9px;
}
.v2_4749 {
  width: 27px;
  height: 22px;
  background: rgba(72,72,72,1);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 57px;
}
.v2_4750 {
  width: 24px;
  height: 24px;
  background: rgba(72,72,72,1);
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 156px;
}
.v2_4751 {
  width: 153px;
  height: 208px;
  background: url("../images/v2_4751.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 86px;
  left: 711px;
  overflow: hidden;
}
.v2_4752 {
  width: 153px;
  color: rgba(72,72,72,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v2_4753 {
  width: 132px;
  color: rgba(72,72,72,1);
  position: absolute;
  top: 48px;
  left: 0px;
  font-family: Montserrat;
  font-weight: Medium;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v2_4754 {
  width: 153px;
  color: rgba(72,72,72,1);
  position: absolute;
  top: 81px;
  left: 0px;
  font-family: Montserrat;
  font-weight: Medium;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v2_4755 {
  width: 103px;
  color: rgba(72,72,72,1);
  position: absolute;
  top: 114px;
  left: 0px;
  font-family: Montserrat;
  font-weight: Medium;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v2_4756 {
  width: 57px;
  color: rgba(72,72,72,1);
  position: absolute;
  top: 147px;
  left: 0px;
  font-family: Montserrat;
  font-weight: Medium;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v2_4757 {
  width: 132px;
  color: rgba(72,72,72,1);
  position: absolute;
  top: 180px;
  left: 0px;
  font-family: Montserrat;
  font-weight: Medium;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v2_4758 {
  width: 100%;
  background: url("../images/v2_4758.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 513px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
